[submodule "binutils"]
	path = binutils
	url = https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb
	branch = arc-2025.09
[submodule "gcc"]
	path = gcc
	url = https://github.com/foss-for-synopsys-dwc-arc-processors/gcc
	branch = arc-2025.09
[submodule "glibc"]
	path = glibc
	url = https://sourceware.org/git/glibc.git
	shallow = true
[submodule "dejagnu"]
	path = dejagnu
	url = https://github.com/foss-for-synopsys-dwc-arc-processors/dejagnu
	branch = arc-2025.09
[submodule "newlib"]
	path = newlib
	url = https://github.com/foss-for-synopsys-dwc-arc-processors/newlib
	branch = arc-2025.09
[submodule "gdb"]
	path = gdb
	url = https://github.com/foss-for-synopsys-dwc-arc-processors/binutils-gdb
	branch = arc-2025.09-gdb
[submodule "qemu"]
	path = qemu
	url = https://gitlab.com/qemu-project/qemu.git
	shallow = true
[submodule "musl"]
	path = musl
	url = https://git.musl-libc.org/git/musl
	branch = master
	shallow = true
[submodule "spike"]
	path = spike
	url = https://github.com/riscv-software-src/riscv-isa-sim.git
	branch = master
	shallow = true
[submodule "pk"]
	path = pk
	url = https://github.com/riscv-software-src/riscv-pk.git
	branch = master
	shallow = true
[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm/llvm-project.git
	branch = release/19.x
	shallow = true
[submodule "uclibc-ng"]
	path = uclibc-ng
	url = https://github.com/wbx-github/uclibc-ng.git
	shallow = true
[submodule "picolibc"]
	path = picolibc
	url = https://github.com/foss-for-synopsys-dwc-arc-processors/picolibc
	branch = arc-2025.09
